<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a style="border: 1px solid #c0f2ff; border-radius: 10px; background-color: #c0f2ff; padding: 8px;" href="/">Back to Home</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
</footer>