@model IEnumerable<Recipe>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">@item.Name</p>
            </div>
            <div class="card-footer text-muted">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                Click for detail
            </div>
            <div class="card-footer text-muted">
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                Click for edit
            </div>

            <div class="card-footer text-muted">
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-primary">Delete</a>
                Click for delete
            </div>
        </div>
    </div>
}