<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
   
</head>
<body>
    <div id="app">
        <h1>Books</h1>
        <div>
        <p>Title: <input id="tit" type="text" v-model="titlename"></p>
        <p>Is book read: 
           <select  v-model="isReadOfNewBook">
            <option  value="bookRead">Yes</option>
            <option  value="bookNotRead">No</option>
        </select>
        </p>
        <button v-on:click="onAddClick()">Add</button>
        </div>
        <div v-for="b in books" class="book">
            <p class="bookTitle">Title: {{ b.title }}</p>
            <p>Is Book Read: <span :class=" b.isRead " id="color" >{{ b.isRead }}</span></p>
        </div>
    </div>
     <script src="https://unpkg.com/vue@3.0.11"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    books: [
                        { title: 'Thinking, fast and slow', isRead: 'bookRead' }, 
                        { title: 'Scrum Guide', isRead: 'bookNotRead' }, 
                    ],
                    titlename:'' ,
                    isReadOfNewBook:''
                }
            },
            methods: {
                    onAddClick() {
                        this.books.push({title: this.titlename, isRead: this.isReadOfNewBook})
                    }
            },
        })
        app.mount('#app')
    </script>
</body>
<style>
    .book{
        background-color: blanchedalmond;
    } 
    .bookTitle {
        font-weight: bold;
    }
    .bookRead {
        color: green;
    }
    .bookNotRead {
        color: red;
    }
</style>
</html>